.spring {
    color: green;
}

.summer {
    color: red;
}

.autumn {
    color: yellow;
}

.winter {
    color: blue;
}

.spring a {
color: green;
}
.summer a {
    color: red;
}

.autumn a {
    color: yellow;
}

.winter a {
    color: blue;
}