/* ul {color: green;} */

ul {
    /* list-style-type: circle;
    list-style-image: url(icon.png);
    list-style-position: outside; */
    /* text-align: center; */
    list-style: circle inside url(icon.png);
}
ol {list-style-type: lower-greek;
    list-style-image: none;
}

/* body {background: green;} */

/* li {
    background: green;
} */