
ol{
    list-style-type: upper-roman;
}

li>ol {
    list-style: lower-alpha;
}

.верстка>ol>li>ul {
    list-style: circle inside url(orange_marker.png);
}
.верстка>ol>li>ul>li>ul {
    list-style-image: url(green_marker.png);
}

.cms>ol>li>ul {
    list-style: circle inside url(red_marker.png);
}
.cms>ol>li>ul>li>ul {
    list-style-image: url(blue_marker.png);
}

.cms>ol>li>ul>li>ul>li>ul {
    list-style-image: url(black_marker.png);
}

.table {
    font-weight: bold;
}

.photoshop {color: red;
} 
.photoshop>ol {color:black;}

.illustrator {
    color: orange;
}

.illustrator>ol {
    color: black;
}

.верстка {
    color: green;
}

.верстка>ol {
    color: black;
}
.flash {
    color: blue;
}
.flash>ol {
    color: black;
}

.cms {
    color: blueviolet;
}
.cms>ol {
    color: black;
}